{% include "assets/header.html" %}

<div class="container main-box">
           
    <header>
        <h1>Login and Registration Form</h1>
    </header>
    <section>				
        <div id="container_demo" >
            <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form  action="login" autocomplete="on" method="POST"> 
                        {% csrf_token %}
                        <h1>Log in</h1> 
                        <div>
                            {% for message in messages %}
                                <h3> {{ message }} </h3>
                            {% endfor %}
                        </div>
                        <p> 
                            <label for="username" class="uname" > Your username </label>
                            <input id="username" name="username" required="required" type="text" placeholder="myusername"/>
                        </p>
                        <p> 
                            <label for="password" class="youpasswd"> Your password </label>
                            <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                        </p>
                        <p class="keeplogin"> 
                            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
                            <label for="loginkeeping">Keep me logged in</label>
                        </p>
                        <p class="login button"> 
                            <input type="submit" value="Login"/>
                        </p>
                        <p class="change_link">
                            Not a member yet ?
                            <a href="#toregister" class="to_register">Join us</a>
                        </p>
                    </form>
                </div>

                <div id="register" class="animate form">
                    <form  action="register" autocomplete="on" method="POST">
                        {% csrf_token %}
                        <h1> Sign up </h1>
                        <div>
                            {% for message in messages %}
                                <h3> {{ message }} </h3>
                            {% endfor %}
                        </div>
                        <p> 
                            <label for="usernamesignup" class="uname" >Your username</label>
                            <input id="usernamesignup" name="username" required="required" type="text" placeholder="mysuperusername690" />
                        </p>
                        <p> 
                            <label for="firstnamesignup" class="youmail"  > Your first name</label>
                            <input id="firstnamesignup" name="firstname" required="required" type="text" placeholder="mysupermail@mail.com"/> 
                        </p>
                        <p> 
                            <label for="lastnamesignup" class="youmail"  > Your last name</label>
                            <input id="lastnamesignup" name="lastname" required="required" type="text" placeholder="mysupermail@mail.com"/> 
                        </p>
                        <p> 
                            <label for="passwordsignup" class="youpasswd" >Your password </label>
                            <input id="passwordsignup" name="password" required="required" type="password" placeholder="eg. X8df!90EO"/>
                        </p>
                        <p> 
                            <label for="passwordsignup_confirm" class="youpasswd" >Please confirm your password </label>
                            <input id="passwordsignup_confirm" name="password_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
                        </p>
                        <p class="signin button"> 
                            <input type="submit" value="Sign up"/> 
                        </p>
                        <p class="change_link">  
                            Already a member ?
                            <a href="#tologin" class="to_register"> Go and log in </a>
                        </p>
                    </form>
                </div>
                
            </div>
        </div>  
    </section>
</div>

{% include "assets/footer.html" %}